<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APITests">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"></listener>
    </listeners>
    <test name="GoRestAPIS">
        <classes>
            <class name="api.tests.UserTests"/>
        </classes>
    </test>
</suite>